.header_payflow_img {
    float: right;
    margin-top: 26px;
}
.step_img {
    text-align: right;
    font-size: 0;
    padding-right: 26px;
}
.step_item {
    display: inline-block;
    overflow: hidden;
}
.step_item_present .step_num {
    background-position: 0 -35px;
}
.step_num {
    float: left;
    width: 35px;
    height: 35px;
    background: url('../img/mycar.png') no-repeat 0 0;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
}
.step_line {
    float: left;
    width: 75px;
    height: 5px;
    background: #6c6c6c;
    margin-top: 15px;
    position: relative;
}
.step_item_present .step_line i {
    display: block;
}
.step_line i {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 5px;
    background: #00c8ff;
    display: none;
}
.step_txt .step_item_present {
    color: #00c8ff;
}
.step_txt {
    margin-top: 8px;
}
.step_txt li {
    display: inline-block;
    font-size: 12px;
}
.step_txt_1 {
    margin-left: 4px;
    width: 164px;
}
.step_txt_2 {
    margin-left: 14px;
    width: 110px;
}
.step_txt_3 {
    margin-left: 80px;
}
.cb_title_h2{
    overflow: auto;
}
.cb_title_h2 h2 {
    font-size: 18px;
    padding-top: 20px;
    height:40px;
    color:#000;
    font-family: 微软雅黑;
    font-weight: normal;
    overflow: hidden;
}
.mycart_htitle {
    float: left;
}
.cb_title_h2 h2 span {
    margin-right: 12px;
}
.cb_title_h2 h2 i {
    font-style: normal;
    font-family: Arial;
    text-transform: uppercase;
}
.mycart_htip {
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #6c6c6c;
    height: 22px;
    line-height: 22px;
}
.cb_title_h2 h2 span {
    margin-right: 12px;
}
.mycart_htip em {
    color: #ff643c;
    font-style: normal;
    font-weight: bold;
}
.table_nav {
    width: 900px;
    padding: 0 30px;
    height: 40px;
    background: #6c6c6c;
}
.table_nav .table_nav_name {
    width: 500px;
    text-align: left;
}
.table_nav li {
    height: 40px;
    line-height: 40px;
    float: left;
    color: #fff;
}
.table_nav_price {
    width: 96px;
}
.table_nav_amount {
    width: 90px;
}
.table_nav_allpay {
    width: 80px;
}
.table_nav_integral {
    width: 70px;
}
.table_nav_operate {
    width: 64px;
}
.purchase_list_box {
    width: 960px;
    background: #fff;
    margin-top: 16px;
}
.purchase_list_nav {
    width: 960px;
    height: 40px;
}
.purchase_list_nav li {
    width: 316px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 6px;
    background: #6c6c6c;
    color: #fff;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.purchase_list_nav .pln_current {
    background: #00c8ff;
}
.purchase_list_nav .wu_left{
    margin-left: 0;
}
.purchase_list_nav li em {
    font-style: normal;
    font-family: Arial;
}
.purchase_list_cont {
    padding: 0 30px 30px;
}
.purchase_cont_page ul {
    margin-left: -25px;
}
.purchase_cont_page ul li {
    width: 160px;
    height: 270px;
    margin: 30px 0 0px 25px;
    float: left;
    background: #fff;
}
.purchase_cont_page .goods_img {
    width: 160px;
    height: 160px;
}
.purchase_cont_page .goods_price, .purchase_cont_page .pro_name, .purchase_cont_page .pro_name a {
    width: 160px;
}
.purchase_cont_page .goods_price {
    height: 97px;
    padding-top: 13px;
    position: relative;
}
.purchase_cont_page .pro_name {
    margin-bottom: 6px;
    height: 36px;
    overflow: hidden;
}
.purchase_cont_page .now_price {
    font-family: 微软雅黑;
    font-size: 18px;
    color:#ff643c;
    margin-bottom: 5px;
    height: 24px;
}
.purchase_cont_page .buy_btn {
    width: 90px;
    height: 26px;
    background: #ff643c;
    position: absolute;
    left:10px;
    bottom: -5px;
}
.purchase_cont_page .buy_btnend {
    width: 90px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #c4c4c4;
    color: #fff;
}
.purchase_cont_page .buy_btn a {
    width: 90px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    display: block;
}
.purchase_cont_page{
    display: none;
}
.purchase_list_cont .show_time{
    display: block;
}
.purchase_list_cont{
    overflow: hidden;
}
.gouwu_tuijian ul{
    width: 5760px;
}
.gouwu_tuijian li{
    width: 225px;
    height: 325px;
}
.gouwu_tuijian li img{
    width: 225px;
    height: 225px;
}
.cb_title_h2 .gouwu_tuijian ul{
    left: -960px;
}
.gouwu_tuijian .goods_img{
    width: 225px;
}
.gouwu_tuijian .goods_price,.gouwu_tuijian .pro_name a{
    width: 205px;
}


.car_empty{
    width: 960px;
    height: 164px;
    padding:60px 0 140px;
    background: #fff;
    margin: 20px auto 0;
}
.shopcar_empty_img {
    float: left;
    width: 135px;
    height: 164px;
    margin-left: 110px;
}
.shopcar_empty_tip {
    font-family: '微软雅黑';
    margin: 50px 0 0 50px;
    float: left;
}
.shopcar_empty_tip1 {
    font-size: 24px;
    color: #c4c4c4;
    margin-bottom: 10px;
}

.shopcar_empty_tip2 span {
    color: #6c6c6c;
    display: inline-block;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
}
.shopcar_empty_tip .shopcar_empty_tip2 a {
    width: 140px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #ff643c;
    margin: 0 8px;
}

.goods_buy{
    background:#fff;
    overflow: hidden
}
.goods_buy ul{
    margin-top: 10px;
}
.goods_buy li{
    width: 900px;
    height: 70px;
    padding: 20px 30px;
    overflow: hidden;
    border-bottom: 1px #e3e3e3 dotted;
}
.goods_buy li .a_img{
    display: block;
    width: 68px;
    height: 68px;
    float: left;
}
.goods_buy li a img{
    width: 68px;
    height: 68px;
    border: 1px solid #e3e3e3;
}
.goods_buy li p{
    padding-top: 20px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #6c6c6c;
}
.goods_buy li .p1{
    width: 380px;
    float: left;
    text-align: left;
    height: 36px;
    overflow: hidden;
    margin-left: 15px;
    color: #6c6c6c;
    line-height: 18px;
}
.goods_buy li .p1 em{
    color: #ff643c;
    font-style: normal;
}
.goods_buy li .p2{
    text-align: center;
    width: 96px;
    float: left;
}
.goods_buy li .p3{
    text-align: center;
    margin: 20px 0 0 15px;
    width: 77px;
    height: 24px;
    float: left;
    border: 1px #e4e4e4 solid;
    overflow: hidden;
    padding-top: 0;
}
.goods_buy li .p3 input {
    font-weight: normal;
    width: 29px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    float: left;
    font-family: Arial;
    font-size: 14px;
    border: 0;
}
.h_amout_down,.h_amout_up,.increase_num1,.decrease_num1{
    width: 24px;
    height: 24px;
    float: left;
    cursor: pointer;
}

.goods_buy li .p4,.goods_buy li .p7{
    text-align: center;
    width: 80px;
    float: left;
    color: #ff643c;
    margin-left: 13px;
}

.goods_buy li .p5{
    text-align: center;
    width: 70px;
    float: left;
    margin-left: 6px;
}
.goods_buy li .p6{
    text-align: center;
    width: 64px;
    float: left;
}
.goods_buy li .p6 a{
    display: block;
    height:20px;
    color: #6c6c6c;
}
.goods_buy li .p2,.goods_buy li .p4,.goods_buy li .p5{
    font-family: 微软雅黑;
    font-size: 14px;
}

.mycart_allinfo_show {
    padding: 0 30px;
    height: 110px;
    margin-top: 10px;
}
.myallinfo_show_one {
    float: left;
    overflow: hidden;
}
.myallinfo_show_one p, .myallinfo_show_two p {
    float: left;
}
.myallinfo_delbtn a {
    display: block;
    height: 26px;
    line-height: 26px;
    color: #6c6c6c;
}
.myallinfo_gobuybtn a {
    width: 73px;
    height: 26px;
    background: #00c8ff;
    color: #fff;
    text-align: center;
    line-height: 26px;
    display: block;
}
.myallinfo_show_one{
    padding-top: 40px;
}
.myallinfo_show_two {
    float: right;
    overflow: hidden;
}
.myallinfo_show_one p, .myallinfo_show_two p {
    float: left;
}
.myallinfo_allpay, .myallinfo_allamount {
    height: 45px;
    line-height: 45px;
    margin: 30px 20px 0 0;
    color: #6c6c6c;
}
.myallinfo_allpay {
    overflow: hidden;
}
.myallinfo_gopaybtn {
    width: 124px;
    height: 45px;
    margin-top: 30px;
}
.myallinfo_allamount i {
    font-style: normal;
    color: #ff643c;
    font-family: Arial;
    font-size: 18px;
    margin: 0 4px;
}
.myallinfo_allpay span {
    float: left;
    margin-top: 2px;
}
.myallinfo_allpay i {
    font-family: '微软雅黑';
    color: #ff643c;
    font-size: 14px;
    margin-top: 0px;
}
.myallinfo_allpay i, .myallinfo_allpay em {
    font-style: normal;
    float: left;
}
.myallinfo_allpay em {
    font-family: Arial;
    font-size: 30px;
    color: #ff643c;
}
.myallinfo_gopaybtn a {
    width: 124px;
    height: 45px;
    background: #ff643c;
    line-height: 45px;
    text-align: center;
    font-family: '微软雅黑';
    font-size: 24px;
    color: #fff;
    display: block;
}






